*.bam*
*.cram*
*.fq*
*.fastq*
*.sra
*.fasta*
*.faa*
*.fna*
*.gff3*
*.gtf*
*.gff*
*.bw
*.bed*
*.bedgraph*
*.tsv
*.csv
*.xml
*.json
*.log
*.stderr
*.stdout
*.nextflow.log*
*.sif
*.tar.gz
.RData
.Rhistory
slurm*.out

**/multiqc_data
**/multiqc_report.html
**/condaenv
**/predector_condaenv
**/deeploc2_env
**/.nextflow

**/backup
**/output
**/work

**/.ipynb_checkpoints

**/jbrowse2/asset-manifest.json
**/jbrowse2/favicon.ico
**/jbrowse2/index.html
**/jbrowse2/manifest.json
**/jbrowse2/robots.txt
**/jbrowse2/static
**/jbrowse2/test_data
**/jbrowse2/umd_plugin.js
**/jbrowse2/version.txt

01-genome_functional_annotation/envs/deeploc2_package/
01-genome_functional_annotation/envs/predector
01-genome_functional_annotation/envs/predector-utils
01-genome_functional_annotation/envs/sources
01-genome_functional_annotation/results
01-genome_functional_annotation/gffpal_env
01-genome_functional_annotation/tmbed_condaenv
01-genome_functional_annotation/caretta_condaenv


!jbrowse2/config.json
!input/reference_genome/*
!input/*.tsv
.Rproj.user
